@font-face {
    font-family: 'Gotham';
    src: url('gotham-black-webfont.woff');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container-header {
    width: 1170px;
    margin: 0 auto;
    height: 93px;
}

.container-header header {
    padding-top: 22px;
}

#top-section {
    background-color: #fff;
}

#header img {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    list-style-type: none;
    float: right;
    margin-top: 0;
}

.menu__item {
    display: inline-block;
    padding: 11px 21px;
    border-radius: 4px;
    transition: background-color 0.2s linear;
}

.menu__item:hover {
    background-color: #ffbb42;
}

.menu__item:hover .menu__link {
    color: #fff;
}

.menu__link {
    text-decoration: none;
    color: #868686;
    font-size: 14px;
}

#home {
    height: 590px;
    background-color: #709dca;
    box-sizing: border-box;
}

h1 {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding-top: 110px;
}

#home .container p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 35px;

}

#home .container form {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 auto;
    width: 1110px;
}

.main-form__input-holder, .main-form__button-holder {
    position: relative;
    display: inline-block;
}

.main-form__input__field {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 280px;
    height: 46px;
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 15px 38px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.2s linear;
    margin-right: 10px;
}

/*noinspection CssInvalidPseudoSelector*/
.main-form__input__field::placeholder {
    color: #a9a9a9;
}

.main-form__input__field:focus {
    border: 2px solid #ffbb42;
}

.main-form__button {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffbb42;
    border-radius: 2px;
    color: #fff;
    width: 210px;
    height: 46px;
    border: none;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

.main-form__button:hover {
    background-color: #ffce2d;
}

#login-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    fill: #6e6e6e;
}

#mail-icon {
    position: absolute;
    top: 17px;
    left: 15px;
    fill: #6e6e6e;
}

#phone-icon {
    position: absolute;
    top: 17px;
    left: 15px;
    fill: #6e6e6e;
}

.main-form__input__field:focus + #login-icon {
    fill: #ffbb42;
}

.main-form__input__field:focus + #mail-icon {
    fill: #ffbb42;
}

.main-form__input__field:focus + #phone-icon {
    fill: #ffbb42;
}

#laptop-holder {
    position: relative;
}

#laptop-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -324px;
    margin-top: -58px;
}

#service {
    height: 920px;
    background-color: #fff;
    box-sizing: border-box;
}

#service .container {
    width: 1170px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    color: #394b50;
    text-transform: uppercase;
}

#service .container h2 {
    text-align: center;
    padding-top: 200px;
}

.headline-text {
    color: #394b50;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
}

.list-container {
    margin-top: 92px;
}

.list-container__list-item {
    width: 583px;
    display: inline-block;
    padding-left: 82px;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    margin-bottom: 40px;
}

.list-container__list-item:nth-child(odd) {
    padding-right: 60px;
}

.list-container__list-image {
    position: absolute;
    top: 17px;
    left: 0;
}

.list-container__list-item:last-child .list-container__list-image {
    left: 20px;
}

.list-container__list-item h3 {
    text-transform: uppercase;
    color: #394b50;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.list-container__list-item .list-container__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #7b7b7b;
}

#about-us {
    height: 623px;
    background-color: #ffc155;
    box-sizing: border-box;
}

#about-us .container {
    width: 1170px;
    margin: 0 auto;
}

#about-us .container div {
    width: 585px;
    display: inline-block;
}

#about-us .container div:first-child {
    height: 623px;
    float: left;
    position: relative;
}

#about-us .container div:first-child img {
    position: absolute;
    margin-left: -63%;
}

#about-us .container div:last-child {
    box-sizing: border-box;
    padding-left: 80px;
}

#about-us .container div:last-child h2 {
    margin: 0;
    font-family: 'Gotham', sans-serif;
    font-size: 30px;
    padding-top: 160px;
    color: #fff;
}

#about-us .container div:last-child p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 30px;
}

#about-us .container div:last-child button {
    width: 140px;
    height: 46px;
    background-color: #ffc155;
    border: 1px solid #e7ad48;
    outline: none;
}

#about-us .container div:last-child button:hover {
    background-color: #ffce2d;
}

#pricing-table {
    height: 900px;
    margin: 0;
    background-color: #e7edf3;
}

#pricing-table .container {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}
#pricing-table .container h2 {
    padding-top: 130px;
}
#pricing-table .container .headline-text {
    font-size: 18px;
    margin-bottom: 50px;
}

#plan-card-container {
    position: relative;
    margin: 0 auto;
    left: 7px;
}

.plan-card {
    display: inline-block;
    position: absolute;
    width: 390px;
    height: 440px;
    background-color: #fff;
    text-transform: uppercase;
    border: 1px solid #ccd5df;
    border-radius: 4px;
    padding: 55px 30px;
    box-sizing: border-box;
    transition: background-color 0.1s linear;
    margin: 30px 0;
}

#plan-card-container .plan-card:nth-child(1) {
    top: 0;
    left: 0;
}

#plan-card-container .plan-card:nth-child(2) {
    top: 0;
    left: 394px;
}

#plan-card-container .plan-card:nth-child(3) {
    top: 0;
    left: 788px;
}

.plan-card:hover {
    background-color: #709dca;
    width: 394px;
    height: 501px;
    margin-top: 0;
    margin-left: -2px;
    padding-top: 85px;
}

.plan-card:hover .plan-card__plan-headline {
    color: #fff;
}

.plan-card__plan-headline {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #818b95;
}

.plan-card__plan-details {
    padding-left: 0;
    list-style-type: none;
}

.plan-card__plan-price {
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin: 10px -15px 0 0;
    position: relative;
    color: #ffbb42;
}

.plan-card__plan-price span {
    font-size: 30px;
    position: absolute;
    margin-left: -18px;
    margin-top: 5px;
}

.plan-card__plan-period {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #818b95;
}

.plan-card:hover .plan-card__plan-price {
    color: #fff;
}

.plan-card:hover .plan-card__plan-price span {
    color: #fff;
    font-weight: 300;
}

.plan-card:hover .plan-card__plan-period {
    color: #fff;
}

.plan-card__plan-details {
    margin: 22px 0;
}

.plan-card__plan-details li {
    border-top: 1px solid #e2e9f0;
    font-size: 14px;
    padding: 11px 0;
    color: #b5bbc1;
}

.plan-card:hover .plan-card__plan-details li {
    border-top: 1px solid #8eb8e2;
    color: #c2e1ff;
}

.plan-card__plan-button {
    width: 131px;
}

#how-it-works {
    height: 860px;
    background-color: #fff;
}

#how-it-works .container {
    text-align: center;
}

#how-it-works .container h2 {
    padding-top: 150px;
}

#how-it-works .container .headline-text {
    font-size: 18px;
    margin-bottom: 105px;
}

.step-card {
    width: 290px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 32px;
    position: relative;
}

.step-card__step-number {
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.step-card__step-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #7b7b7b;
}

.step-card__step-arrow {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -32px;
    margin-left: 230px;
}

.step-card:nth-child(even) .step-card__step-arrow {
    top: 102px;
    left: 0;
    margin-left: 230px;
    transform: rotate(180deg);
}

.step-card:nth-child(6) .step-card__step-arrow {
    display: none;
}

#how-it-works .container button {
    display: block;
    margin: 95px auto 0;
    width: 165px;
}

#happy-clients {
    height: 910px;
    background-color: #ffc155;
}

#happy-clients .container {
    width: 1170px;
    margin: 0 auto;
}

#happy-clients .container h2 {
    text-align: center;
    color: #fff;
    padding-top: 130px;
}

#happy-clients .container .headline-text {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 60px;
}

.review-card {
    display: inline-block;
    width: 565px;
    height: 241px;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    padding: 45px 25px 50px 160px;
    box-sizing: border-box;
}

.review-card:nth-child(odd) {
    margin-right: 35px;
}

.review-card__author-image {
    position: absolute;
    margin-left: -128px;
}

.review-card__review-quote {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #7b7b7b;
    margin-left: 24px;
    margin-top: 10px;
    margin-right: 12px;
    position: relative;
}

.review-card__review-quote::before {
    font-size: 25px;
    position: absolute;
    content: "❝";
    margin-left: -22px;
    margin-top: -13px;
}

.review-card__review-quote::after {
    font-size: 25px;
    position: absolute;
    content: "❞";
    margin-left: 15px;
}

.review-card__review-author {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    color: #f6772c;
    font-size: 14px;
    margin-left: 24px;
}

.review-card__author-position {
    color: #99a9ae;
}

#contact-us {
    height: 950px;
    background-color: #fff;
}

#contact-us .container {
    width: 1170px;
    margin: 0 auto;
}

#contact-us .container h2 {
    padding-top: 150px;
    text-align: center;
}

#contact-us .container .headline-text {
    font-size: 16px;
    margin-bottom: 40px;
}

.secondary-form {
    display: block;
    margin: 0 auto;
    width: 941px;
}

.secondary-form .main-form__input__field {
    border: 1px solid #cbcbcb;
    width: 308px;
    transition: border 0.2s linear;
    border-radius: 2px;
}

.secondary-form .main-form__input__field:focus {
    border: 1px solid #ffbb42;
}

.secondary-form .main-form__input-holder:nth-child(1) .main-form__input__field {
    width: 308px;
}

.secondary-form .main-form__input-holder:nth-child(2) .main-form__input__field {
    width: 388px;
}

.secondary-form .main-form__button-holder .main-form__button {
    width: 218px;
    border-radius: 2px;
}

#contact-us-container {
    display: block;
    margin: 50px auto 0;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    padding-bottom: 60px;
}

#contact-us-container #pin-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -239px;
    margin-left: -143px;
}

#pin-image div {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -73px;
    margin-left: -72px;
    font-size: 13px;
}

#pin-image > div > span {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

#pin-image > div ul {
    list-style-type: none;
    color: #aeb7ba;
    padding: 0;
}

#pin-image > div ul li {
    margin-bottom: 4px;
}

#pin-image > div ul li:last-child {
    color: #ffbb42;
}

#pin-image > img:nth-child(3) {
    position: absolute;
    margin-left: -25px;
}

#footer {
    height: 280px;
}

#footer .container-footer footer ul.menu {
    text-align: center;
    padding: 70px 0 0;
    float: none;
}

#footer .container-footer footer ul.menu li {
    padding: 8px 14px;
}

#footer .container-footer footer ul.menu li .menu__link {
    font-size: 13px;
    color: #394b50;
}

#footer p {
    text-align: center;
    position: relative;
    font-size: 22px;
    color: #394b50;
}

#footer svg {
    position: relative;
    fill: #394b50;
    top: 0;
    left: 0;
    margin-bottom: -1px;
}

.social-networks {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.social-networks li {
    display: inline-block;
    margin: 0 5px;
}

#twitter, #facebook, .google, .linkedin {
    fill: #709dca;
}

.social-networks li:hover a #twitter {
    fill: #ffc155;
}

.social-networks li:hover a #facebook {
    fill: #ffc155;
}

.social-networks li:hover a .google {
    fill: #ffc155;
}

.social-networks li:hover a .linkedin {
    fill: #ffc155;
}

#copyright {
    height: 45px;
    background-color: #709dca;
    margin-top: 39px;
    text-align: center;
}

#copyright p {
    padding-top: 13px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #fff;
}